 * { 
   margin: 0;
   padding: 0;
}
*, 
*::before, 
*::after {
  box-sizing: border-box;
} 

:root {
  --initial-var: none;
  --second-var: #2d4156;
  --default-ff-regular: 'Helvetica Neue', sans-serif; 
  --bx-shadow: rgba(2, 2, 3, 0.28) 0px 10px 30px 0px;
  --bdr-radius: 7.2px;
} 

body {
  background-color: hsl(12,20%,9%);
  /*padding: 3rem 0;*/
  padding: 0;
  font-family: var(--default-ff-regular); 
  color: hsl(0,0%,98.6%);
}

h1 {
  position: relative;
  width: 15ch;
  margin: 0 auto;
  /*font-size: 3rem;*/
  font-size: clamp(2.5rem, 10vw, 6rem);
  font-weight: 900;
  line-height: 1;
  text-align: center;
}

h1::after {
  position: absolute;
/*   content: attr(data-subtitle); */
  font-size: 1.25rem;
  top: 900%;
  left: 43%;
  z-index: 90;
}

p {
  margin-bottom: 1rem;
  /*font-size: 0.845em;*/
  font-size: 0.965rem;
  font-weight: 300;
  line-height: 1.5;  
}

.container p:first-of-type {
    font-size: 1.5rem;
    font-weight: 500;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding: 0 .5rem;
/*   border: 1px solid #eee; */
}

.container p {
  padding: 0;
}

.image--centered-cont {
  width: 100%;
  mix-blend-mode: lighten;  
/*   border: 1px solid hsl(0,0%,25.3%); */
}

.image--centered-cont img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  padding: 0 .75rem;
}

.wrapper, 
header {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
  margin-bottom: 4rem;
  margin-top: 2.5rem;
}

.article--navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / 3;
/*   margin-top: 3.5rem; */
}

header > * {
  position: relative;
  z-index: 10;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*   background: url('https://ik.imagekit.io/ghow2otb3rc/Projects/Current/sound-of-mind-still_uGLjuwhDpQ.png') -10px -10px / cover no-repeat; */
/*   background-position: cover; */
/*   background-size: 200%;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  opacity: .6;
}

header 
h1 {
  padding-left: 1rem;
  font-family: 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  width: 260px;
  text-align: left;
  text-transform: uppercase;
  color: hsl(0,0%,98.6%);
}

.logo--image-wrap {
  width: 45px;
  margin-left: .75rem;
/*   mix-blend-mode: multiply;
  mix-blend-mode: difference; */
  mix-blend-mode: darken;
  opacity: 1;
}

.logo--image-wrap img {
  max-width: 100%;
  height: auto;
  display: block;
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
/*   border: 1px solid white;   */
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out; 
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

/* Animation Phase */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.text--shape-of-things {
   margin-bottom: 2rem;
}

.text--shape-of-things p {
   font-size: 1.2rem;
}

.text--shape-of-things p:not(:nth-child(1)) {
   text-align: center;
}

.text--shape-of-things p:nth-last-child(-n+1) {
   font-size: 1.4rem;
   font-weight: 700;
   text-transform: uppercase;
   /*  color: hsl(0, 67.9%, 41.6%); // This is Firebrick */
}

